body{
  overflow: hidden;
}
body::-webkit-scrollbar {
    display: none;
}
#particles-js{
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
#cover-name{
  z-index: 10;
  position: absolute;
  top: 0;
  color: white;
  .title{
    color: white;
  }
  .subtitle{
    color: white;
  }
  #profile-pic{
    border-radius: 50%;
  }
  .social{
    text-align: right;
    font-size: 2.5em;
    margin-right: .5em;
    cursor: pointer;
  }
}
.ugly{
  background-color: red;
}
